$default-font: "OpenSans", sans-serif;
$color-font: #e5e5e5;
$white: #ffffff;
//$accent: #e9710f;
$accent: #de5614;
$orange: #d9391f;
$violet: #832656;
$indigo: #472261;
$blue: #0d2666;

$hover: #e9710f;
$border-width: 2px;