@import "fonts";
@import "libs";
@import "vars";
* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

*::-webkit-input-placeholder {
	color: #9b9b9b;
	opacity: 1;
}

*:-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
}

*::-moz-placeholder {
	color: #9b9b9b;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #9b9b9b;
	opacity: 1;
}

html {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

html {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	opacity: 1;
	background-color: transparent;
}

.hidden-scroll {
	overflow-y: hidden;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

/* start import header */

@import '_layout/header';
/* start import footer */

@import '_layout/footer';